asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-cors-headers
django-filter
django-jazzmin
django-rest-framework
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
drf-yasg
idna
inflection
oauthlib
packaging
pillow
pycparser
PyJWT
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
requests
requests-oauthlib
setuptools
six
social-auth-app-django
social-auth-core
sqlparse
tzdata
uritemplate
urllib3
wheel
whitenoise
